@font-face {
    font-family: 'CustomFont';
    src: url('../src/fonts/CircularXXTT-Regular.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: 'CustomFont';
    src: url('../src/fonts/CircularXXTT-Light.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: 'CustomFont';
    src: url('../src/fonts/CircularXXTT-Medium.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'CustomFont';
    src: url('../src/fonts/CircularXXTT-Bold.ttf');
    font-weight: 700;
  }

  * {
      font-family: 'CustomFont', sans-serif;
  }